### WaP a program to accept a name for the user and output it back by removing all in vowels in it

In [1]:
name = input('Enter your name')

ans = ""

for alpha in name:
    if alpha in 'aeiou' or alpha in 'AEIOU':
        continue
    ans = ans+alpha
    
print(ans)

Enter your name mayank

mynk

#### Write a program to accept an integer from the user and display the sum of all the numbers from 1 to that number.

In [1]:
num = int(input('Enter a num'))
result = 0

for i in range(1, num+1):
    print(i)
    result += i
    
print(f'Sum is {result}')

Enter a num 5

1
2
3
4
5
Sum is 15

#### Take an input form the user and check if its a palindrome

In [2]:
s = input('Please enter a name')

start = 0
end = len(s)-1
is_palindrome = True

while (start < end):
    if(s[start] != s[end]):
        is_palindrome = False
        break
    else:
        start += 1
        end -= 1
if (is_palindrome == True):
    print('It is palindrome')
else:
     print('It is not a palindrome')

Please enter a name madam

It is palindrome

In [3]:
s = input('Please enter a name: ')

is_palindrome = True
n = len(s)

for i in range(n // 2):
    if s[i] != s[n - i - 1]:
        is_palindrome = False
        break

if is_palindrome:
    print('It is a palindrome')
else:
    print('It is not a palindrome')

Please enter a name:  broke

It is not a palindrome

In [20]:
# for loop

# Iterable / Sequence

 #### Sequence is an iterable with order

#### For loops works on Iterable with sequence

1. String : 'Rafi'  #Sequence
2. list: ['r','a','f','i'] #sequence
3. Tuple: ('r','a','f','i') #sequence
4. sets: {'r','a','f','i'} it is not a sequence

In [26]:
str1 = 'Rafi'
l1 = ['r','a','f','i'] #list
t1 = ('r','a','f','i') #tuple
s1 = {'r','a','f','i'} #set is not a sequence but it is iterable

In [27]:
for eachelm in str1:
    print(eachelm)

R
a
f
i

In [28]:
for eachelm in l1:
    print(eachelm)

r
a
f
i

In [29]:
for eachelm in t1:
    print(eachelm)

r
a
f
i

In [31]:
for eachelm in s1:
    print(eachelm) # see the set is not a sequence

i
r
a
f

## Every sequence is iterable but not every iterable is not a sequence

# Range Fuction

range() fucntion is a inbuild function in python which returns a range object

function is very useful in generaring sequence of numbers in form of list

it takes 3 arguments

range (start ,stop, step)

In [32]:
#range with 1 argument

In [33]:
range(5)

range(0, 5)

In [34]:
list(range(5))

[0, 1, 2, 3, 4]

In [35]:
list(range(0,5,1))

[0, 1, 2, 3, 4]

In [36]:
list(range(2,5))

[2, 3, 4]

In [37]:
list(range(0,4,2))

[0, 2]

In [38]:
tuple(range(0,4,2))

(0, 2)

In [39]:
list(range(-3))

[]

In [40]:
range(-3)

range(0, -3)

In [41]:
list(range(5,8))

[5, 6, 7]

In [42]:
list(range(-7,-5))

[-7, -6]

In [43]:
list(range(10,1))

[]

In [44]:
list(range(-2,2))

[-2, -1, 0, 1]

In [46]:
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [47]:
list(range(7,1,-2))

[7, 5, 3]

## Use of Range function

In for loop whenever we have to iterate over a sequence of numerical value we can use range function

In [48]:
n = int(input("Please enter a number"))

s = 0
fact = 1

for i in range(1, n+1):
    s += i
    fact *= i
print(s)
print(fact)

Please enter a number 5

15
120

In [29]:
for j in range(3):
    print('*',end='')

***

# Nested Loop

### You have to take a input form the use and print out a * pattern 

n = 3

### ***
### ***
### ***

n = 4

### ****
### ****
### ****
### ****

In [13]:
n = int(input('Please enter a number'))

for i in range(n):      # handles column
    print('*', end="")
    for j in range (n-1): # handles row
        print('*',end="")
    print()

Please enter a number 3

***
***
***

In [33]:
n = int(input('Please enter a number'))

for i in range(n):       # It handles number of rows
    for j in range (n):  # It handles inner works in Row
        print('*',end="")
    print()

Please enter a number 5

*****
*****
*****
*****
*****

In [55]:
for outerLoop in range(3):
    print('O')
    for innerLoop in range(2):
        print("I")
    print("O2")

O
I
I
O2
O
I
I
O2
O
I
I
O2

#### print output like

n = 3

111

222

333

n = 4

1111

2222

3333

4444

In [32]:
n = int(input('Please enter a number'))

for i in range(n):       # It handles number of rows
    for j in range (n):  # It handles inner works in Row
        s = i+1 
        print(s,end="")
    print()

Please enter a number 5

11111
22222
33333
44444
55555

#### Print
n = 4

1

22

333

4444

In [34]:
n = int(input('Please enter a number'))

for i in range(n):
    for j in range (i+1): 
        print(i+1,end="")
    print()

Please enter a number 5

1
22
333
4444
55555

#### print

n = 4

1

1 2

1 2 3

1 2 3 4

In [38]:
n = int(input('Please enter a number'))

for i in range(n):
    for j in range (i+1):
        print(j+1,end=" ")
    print()

Please enter a number 5

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

### Print

n = 5

1 1 1 1 1

2 2 2 2

3 3 3

4 4

5

In [39]:
n = int(input('Please enter a number'))

for i in range(n):
    for j in range (n-i):
        print(i+1,end=" ")
    print()

Please enter a number 5

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [40]:
n = int(input('Please enter a number'))

for i in range(n):
    for j in range (n-i):
        print("*",end=" ")
    print()

Please enter a number 5

* * * * *
* * * *
* * *
* *
*

In [44]:
n = int(input('Please enter a number'))

for i in range(n):
    for j in range (n-i):
        print(n,end=" ")
    print()

Please enter a number 5

5 5 5 5 5
5 5 5 5
5 5 5
5 5
5

### Print

1

3 3

5 5 5

7 7 7 7

9 9 9 9 9

In [57]:
n = int(input('Please enter a number'))

odd = 1
for i in range(n):
    for j in range (i+1):
        print(odd,sep=' ', end='')
        
    odd += 2
    print()

Please enter a number 5

1
33
555
7777
99999

# Data structure

basic idea of data structures

way to store your date that is to give structure to your data

list [] ----------> it is mutable(things can be added or removed from this)  

tuple() ----------> it is not mutable (things cannot be added or removed from this)

set{} ----------> doesnot allow duplicate values and not ordered

dic {}