In [1]:
# write a program that take teo numbers form user and add them

In [2]:
a = float(input("Please Enter a Number"))
b = float(input("Please Enter another Number"))
s = a+b
print("Sum of two number is", s,'\n')

Please Enter a Number 5
Please Enter another Number 6

Sum of two number is 11.0

In [3]:
type(s)

float

In [4]:
first = input("givem first Number")
second = input("givem second Number")

givem first Number 5 10
givem second Number

In [5]:
first, second

('5 10', '')

In [6]:
first.split(' ')

['5', '10']

In [7]:
first2 = input("give number in one line")

give number in one line 5@6@7

In [8]:
first2

'5@6@7'

In [9]:
first2.split('@')

['5', '6', '7']

In [15]:
a,b,c = first2.split('@')

In [11]:
a

'5'

In [16]:
int(a)+int(b)+int(c)

18

In [17]:
# Wap to take input form user his age name and marks and show output as

# 1. name in opposite direction (reversed)

# 2. age as how many years left in turning 100

# 3. marks as how much are they out of 100

In [1]:
name = input("Please enter your name")
age = int(input("Please enter your age"))
marks = float(input("Please enter your marks"))
n = name[::-1]
age = 100-age
marks = (marks/100)*100
print("the name in reverse is ", n, "\n", "The years left to turn 100 is ", age, "\n", "The marks out of 100 is ", marks,"%")

Please enter your name john
Please enter your age 26
Please enter your marks 70

the name in reverse is  nhoj
 The years left to turn 100 is  74
 The marks out of 100 is  70.0 %

# Print Statement

### Format specifier
### %d for int, %s for str, %f is for float

In [23]:
name = 'Rafi'
age = 45
print("name is %s and age is %d"%(name,age))

name is Rafi and age is 45

In [24]:
decimal = 35.163514

In [25]:
print("Number is %d"%(decimal))

Number is 35

In [26]:
print("Number is %f"%(decimal))

Number is 35.163514

In [27]:
print("Number is %s"%(decimal))

Number is 35.163514

In [29]:
print("Number is %0.2f"%(decimal))

Number is 35.16

In [30]:
print("Number is %0.3f"%(decimal))

Number is 35.164

# .format Argument

In [32]:
print("My name is {} and age is {}".format(name,age))

My name is Rafi and age is 45

In [34]:
name = input("Please enter your name")
age = int(input("Please enter your age"))
marks = float(input("Please enter your marks"))
n = name[::-1]
age = 100-age
marks = marks/100
print("the name in reverse is {} \n The years left to turn 100 is {} \n The marks out of 100 is {}".format(n,age,marks))

Please enter your name eraa
Please enter your age 56
Please enter your marks 98

the name in reverse is aare
 The years left to turn 100 is 44
 The marks out of 100 is 0.98

In [35]:
print("My name is {0} and age is {1}".format(name,age))

My name is eraa and age is 44

In [37]:
print("My name is {1} and age is {1}".format(name,age)) # here we can see they are taking the the position of a set if its given

My name is 44 and age is 44

In [39]:
print("My name is {} and age is {1}".format(name,age)) # either all empty or all full

ValueError: cannot switch from automatic field numbering to manual field specification

In [42]:
print("My name is {name} and age is {age}".format(name=name,age=age))

My name is eraa and age is 44

In [43]:
print("My name is {a} and age is {b}".format(a=name,b=age))

My name is eraa and age is 44

In [44]:
a1 = 'rafi'
a2 = '46465'
a3 = 95
a4 = 9.55644

In [45]:
print("the name is %s and the number is %s the age is %d and the percentage is %0.3f"%(a1,a2,a3,a4))

the name is rafi and the number is 46465 the age is 95 and the percentage is 9.556

In [46]:
print("the name is {} and the number is {} the age is {} and the percentage is {}".format(a1,a2,a3,a4))

the name is rafi and the number is 46465 the age is 95 and the percentage is 9.55644

# F-Format

In [49]:
print(f"the name is {a1} and the number is {a2} the age is {a3} and the percentage is {a4:.2f}")

the name is rafi and the number is 46465 the age is 95 and the percentage is 9.56

In [48]:
print(f"Printing the float number with 3 decimal {a4:.3f}")

Printing the float number with 3 decimal 9.556