## map()

In [3]:
l = [1,2,3,5,6]
sq = [i*i for i in l]
print(sq)

[1, 4, 9, 25, 36]

In [4]:
def sq(l):
    for i in l:
        print(i**2)

In [5]:
l = [1,2,3,5,6]
sq(l)

1
4
9
25
36

In [6]:
## map(lambda x:x**2, l)

In [7]:
a= list(map(lambda x:x**2, l))
print(a)

[1, 4, 9, 25, 36]

In [10]:
## odd and even
l = [1,2,3,5,6,7,8,9]
a = list(map(lambda x:'even' if x%2==0 else 'odd', l))

In [11]:
a

['odd', 'even', 'odd', 'odd', 'even', 'odd', 'even', 'odd']

In [8]:
user = [
    {
        'name':'Omar',
        'age':56,
        'gender':'male'
    },
    {
        'name':'Keisha',
        'age':36,
        'gender':'female'

    },
    {
        'name':'Austin',
        'age':26,
        'gender':'male'

    }

]

In [9]:
a = list(map(lambda x: x['name'], user))

In [10]:
a

['Omar', 'Keisha', 'Austin']

In [13]:
a = list(map(lambda y: y['gender'], user))

In [14]:
a

['male', 'female', 'male']

## filter()

In [20]:
l = [1,2,3,5,6,7,8,9]

##### number greater than three

In [21]:
list(filter(lambda x:x>3, l))

[5, 6, 7, 8, 9]

In [22]:
fruits = ['apple','banana','cherry']
# find the name of the fruit with 'a' 
list(filter(lambda x: x.startswith('a'), fruits))

['apple']

## reduce()

In [27]:
import functools

In [28]:
l = [1,2,3,5,6,7,8,9]

In [29]:
functools.reduce(lambda x,y: x+y, l)

41

In [31]:
l = [1,2,3,5,6,7,8,9]
# find the max value
functools.reduce(lambda x,y:x if x>y else y,l)

9

In [32]:
l = [1,2,3,5,6,7,8,9]
# find the min value
functools.reduce(lambda x,y:x if x<y else y,l)

1