# union() & update()

s.union(t)  s | t   new set with elements from both s and t

s.update(t) s |= t  return set s with elements added from t

In [7]:
city_name1 = {'Tokyo','Madrid','Berlin','Delhi'}
city_name2 = {'Tokyo','Seoul','kabul','Madrid'}

city_name3 = city_name1.union(city_name2)
city_name4 = city_name1.intersection(city_name2)

print(city_name3)
print(city_name4)

{'Berlin', 'Delhi', 'Tokyo', 'Seoul', 'kabul', 'Madrid'}
{'Tokyo', 'Madrid'}

In [2]:
num1 = {1,2,3,4}
num2 = {3,4,5,6}

num3 = num1.union(num2)

In [3]:
num3

{1, 2, 3, 4, 5, 6}

In [4]:
num4 = num1.intersection(num2)
num4

{3, 4}

In [11]:
city_name1 = {'Tokyo','Madrid','Berlin','Delhi'}
city_name2 = {'Tokyo','Seoul','kabul','Madrid'}

city_name1.update(city_name2) # same as the union fuction
print(city_name1)

{'Berlin', 'Delhi', 'Tokyo', 'Seoul', 'kabul', 'Madrid'}

# intersection() & intersection_update()

s.intersection_update(t)    s &= t  return set s keeping only elements also found in t

s.intersection(t)   s & t   new set with elements common to s and t

In [12]:
city_name1 = {'Tokyo','Madrid','Berlin','Delhi'}
city_name2 = {'Tokyo','Seoul','kabul','Madrid'}

city_name3 = city_name1.intersection(city_name2)
print(city_name3)

{'Tokyo', 'Madrid'}

In [13]:
num1 = {1,2,3,4}
num2 = {3,4,5,6}

num4 = num1.intersection(num2)
num4

{3, 4}

In [14]:
city_name1 = {'Tokyo','Madrid','Berlin','Delhi'}
city_name2 = {'Tokyo','Seoul','kabul','Madrid'}

city_name1.intersection_update(city_name2)
city_name1

{'Madrid', 'Tokyo'}

## symmetric Difference

In [17]:
city_name1 = {'Tokyo','Madrid','Berlin','Delhi'}
city_name2 = {'Tokyo','Seoul','kabul','Madrid'}

city_name3 = city_name1.symmetric_difference(city_name2) # it is rejecting all the similar value
city_name3

{'Berlin', 'Delhi', 'Seoul', 'kabul'}

# set methods

### isdisjoint()


the isdisjoint() method checks if items of given set are present in another set. the method returns "False" if items are present else it returns "True"

In [18]:
city_name1 = {'Tokyo','Madrid','Berlin','Delhi'}
city_name2 = {'Tokyo','Seoul','kabul','Madrid'}


city_name1.isdisjoint(city_name2)

False

In [19]:
city_name1 = {'Tokyo','Madrid','Berlin','Delhi'}
city_name2 = {'Dhaka','Seoul','kabul','Barcelona'}


city_name1.isdisjoint(city_name2)

True

## add()

In [20]:
city_name1 = {'Tokyo','Madrid','Berlin','Delhi'}
city_name1.add('Kolkata')

In [21]:
city_name1

{'Berlin', 'Delhi', 'Kolkata', 'Madrid', 'Tokyo'}

## remove() & discard()

In [22]:
city_name1 = {'Tokyo','Madrid','Berlin','Delhi'}

city_name1.remove('Tokyo')

In [23]:
city_name1

{'Berlin', 'Delhi', 'Madrid'}

In [24]:
city_name1 = {'Tokyo','Madrid','Berlin','Delhi'}

city_name1.remove('Kolkata')

KeyError: 'Kolkata'

In [25]:
city_name1 = {'Tokyo','Madrid','Berlin','Delhi'}

city_name1.discard('Kolkata')

In [26]:
city_name1

{'Berlin', 'Delhi', 'Madrid', 'Tokyo'}

## pop()

In [27]:
city_name1 = {'Tokyo','Madrid','Berlin','Delhi'}
city_name1.pop()

'Delhi'

## pop() for the list

The pop() method in Python, when used on a list, removes and returns an element. 
Without an argument: pop() removes and returns the last element of the list.
With an integer argument (index): pop(index) removes and returns the element at the specified index. For example, pop(0) would remove the first element, pop(1) the second, and so on.


## pop() for the set

In Python, the pop() method for sets removes and returns an arbitrary / random element from the set.

#### If you want to take the last item form a set you have to convert it to a list BUT when the set is converted to a list it will reoreder it self by its own

In [4]:
city_name1 = {'Tokyo','Madrid','Berlin','Delhi'}
city_name1 = list(city_name1)
print(city_name1)
print(city_name1.pop())
city_name1 = set(city_name1)
print(city_name1)

['Madrid', 'Delhi', 'Berlin', 'Tokyo']
Tokyo
{'Madrid', 'Berlin', 'Delhi'}

## for more manupilation the type casting is very important for example changing for example set to list

# enumerate

In [1]:
name = ['bappy', 'sunny', 'krish']

for i in range (len(name)):
    print(i, name[i])

0 bappy
1 sunny
2 krish

In [3]:
name = ['bappy', 'sunny', 'krish']

for i in enumerate(name):  # it is giving me the index and the value form the list in a tuple
    print(i)

(0, 'bappy')
(1, 'sunny')
(2, 'krish')

In [4]:
for i, j in enumerate(name):
    print(i,j)

0 bappy
1 sunny
2 krish

In [5]:
d = {'name':'rafi','roll':45}

In [6]:
for i in enumerate(d):
    print(i)

(0, 'name')
(1, 'roll')